* {
    box-sizing: border-box;
}

body {
    background-color: #F1FAF7;
    color: #f1fafe;
    font-family: Verdana, Arial, sans-serif;
    margin: 0;
}

/**  HEADER SECTION**/
header {
    font-size: 75%;
    font-weight: bold;
    background-color: #F1FAF7;
}

.header-logo-bar {
    text-align: center;
}

.header-logo-bar a{
    display: block;
}

.header-logo-bar img{
    padding: 1em;
    max-width: 100%;
    height: auto;
}

nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.2em;
    list-style-type: none;
    margin: 0;
    padding-inline-start: 0;
}

nav li:hover {
    color: #FFFFFF;
    background-color: #1D3557;
    cursor: pointer;
}

nav li:hover a {
    color: #FFFFFF;
}

nav ul li.active {
    background-color: #1D3557;
}

nav ul li.active a {
    color: #ffffff;
}

nav ul li a {
    display: block;
    height: 100%;
    width: auto;
    text-decoration: none;
    padding: .75em;
}

nav a:link {
    color: #1D3557;
}

nav a:visited {
    color: #1D3557;
}

/** WRAPPER SECTION **/
#wrapper {
    display: flex;
    flex-direction: row;
    text-align: center;
    min-height: 100vh;
    width: 100%;
    background-color: #1d3557;
    justify-content: stretch;
}

.edge {
    display: none;
    background-color: #F1FAF7;
    margin: 0;
    padding: 0;
}

.fade-left {
    background: linear-gradient(
            to left,
            rgba(29, 53, 87, 1) 10%,
            rgb(241, 250, 247) 13%
    );
}

.fade-right {
    background: linear-gradient(
            to right,
            rgba(29, 53, 87, 1) 10%,
            rgb(241, 250, 247) 13%
    );
}

.center {
    width: 100%;
}

main {
    padding: .75em;
}

section.news, section.customer-comments {
    background-color: white;
    border-radius: 5px;
    color: #1D3557;
}

section.topic-summary, section.news, section.customer-comments {
    font-size: .75em;
    text-align: justify;
    padding: .5em 1em;
}

section h2 {
    text-align: left;
}

.customer-comments-main div {
    display: flex;
    flex-flow: column;
    font-style: italic;
    margin: 1em 2em;
    text-align: justify;
}

.customer-comments-main .user-comment {
    margin: .5em 0;
}

.customer-comments-main .user-name, .customer-comments-main .user-location {
    margin-left: 1em;
    font-weight: bold;
    font-size: .9em;
}

.customer-comments-main .user-location {
    font-size: .8em;
}

.container {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    background-color: #1d3557;
    flex-wrap: wrap;
    margin: 3em 0;
}

.card {
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.158),
    0 3px 6px rgba(0, 0, 0, 0.226),
    0 6px 13px rgba(0, 0, 0, 0.284),
    0 11px 26px rgba(0, 0, 0, 0.352),
    0 31px 71px rgba(0, 0, 0, 0.51);
    border-radius: 25px;
    color: #444;
    padding: .25em;
    margin: .25em;
}

.card .deals {
    color: #ffffff;
    background-color: red;
    padding: .4em;
    border-radius: .4em;
}

.card .deals::after {
    content: "March Special!";
}

.card .deals i {
    margin: 0 .5em;
}

.card .card-contents {
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-size: .75em;
    height: 100%;
    flex-flow: column;
    flex-wrap: nowrap;
}

.card .card-contents img {
    width: 100%;
    height: auto;
}

.card .card-contents .item-title, .card .card-contents .item-price {
    text-align: center;
}

.card .card-contents .item-title {
    font-size: 22px;
}

.card .card-contents .item-stock-number {
    font-size: 12px;
}

.card .card-contents .item-price {
    font-size: 22px;
    font-weight: 300;
}

.card .card-contents button {
    border: 0;
    color: #fff;
    padding: 7px 15px;
    background-color: #fb641b;
    cursor: pointer;
    height: 50px;
}

.card .card-contents button:hover {
    opacity: 0.7;
}

.mobile {
    display: flex;
}

.desktop {
    display: none;
}

footer {
    background-color: #1D3557;
    color: #FFFFFF;
    padding: .75em;
    font-size: .75em;
}

footer .contents {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 1em 0;
}

footer .logo {
    align-self: flex-end;
}

footer .logo img {
    width: 50%;
    height: auto;
}

footer .contents .contact-info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}

footer .contents .contact-info span {
    padding: .25em 0;
}

footer .contents .contact-info a {
    color: #FFFFFF;
}

footer .copyright{
    text-align: center;
}

/** index.html specific css**/
#to-the-max {
    background-image: url("../img/science-to-the-max.jpg");
    background-repeat: no-repeat;
    background-size: 600px;
    display: none;
    padding: 10px;
    margin: 50px;
}

.main-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-intro i {
    height: 180px;
    width: 600px;
}

.icon-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.icon-navigation span {
    display: flex;
    flex-direction: column;
}

.icon-navigation a {
    text-decoration: none;
}

.icon-navigation a:link {
    color: #F1FAF7;
}

.icon-navigation a:visited {
    color: #F1FAF7;
}

.icon-navigation a:hover {
    color: #457B9D;
}

.icon-navigation i {
    padding: 20px;
    margin: 20px;
}

#main-banner-deal {
    width: 100%;
    height: auto;
    display: none;
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) {
    /* CSS */
    section.topic-summary, section.news, section.customer-comments {
        font-size: 1em;
    }

    .card {
        padding: 1em;
        margin: .75em;
    }

    .card .card-contents {
        font-size: 1em;
    }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) {
    /* CSS */
    header {
        font-size: 120%;
        font-weight: bold;
    }

    section.topic-summary, section.news, section.customer-comments {
        margin: 0 1em;
        font-size: 1.25em;
        padding: 1em 2em;
    }

    .card {
        flex-basis: 30%;
        padding: 1.5em;
        margin: 1em;
    }

    .desktop {
        display: flex;
    }

    .mobile {
        display: none;
    }

    footer {
        padding: 2em;
    }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) {
    /* CSS */
    .center {
        width: 90%;
    }

    .edge {
        display: block;
        width: 5%;
    }

    nav a {
        padding: 5px 10px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }

    nav ul li {
        margin: 0 2.5em;
    }

    nav li.active {
        border-radius: 5px;
    }

    nav li:hover {
        border-radius: 5px;
    }

    .mobile {
        display: none;
    }

    section.news, section.customer-comments {
        font-size: 1.25em;
        padding: 1em 3em;
    }

    section.topic-summary {
        font-size: 1.5em;
        padding: 1em 0;
    }

    footer .contents {
        justify-content: space-between;
    }

    #to-the-max {
        padding-bottom: 1em;
        display: block;
        justify-content: center;
    }
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
    /* CSS */


    .center {
        width: 80%;
    }

    .edge {
        display: block;
        width: 10%;
    }

    .header-logo-bar {
        text-align: start;
    }

    nav a {
        padding: 10px 20px;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        margin: 0 130px;
    }

    nav ul li {
        width: 10em;
        margin: 0 1em;
    }

    nav li.active {
        border-radius: 7px 7px 0 0;
    }

    nav li:hover {
        border-radius: 7px 7px 0 0;
    }

    #main-banner-deal {
        display: block;
        padding-bottom: 1em;
    }

    section.topic-summary {
        font-size: 1.5em;
        margin: 0 6em;
        text-align: justify;
    }

    .card {
        flex-basis: 20%;
    }
}



